*,
*::before,
*::after {
  box-sizing: border-box;
}

.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family-sans-serif);
}

pre code {
  display: block;
  padding: var(--spacing-xl);
  overflow-x: auto;
  border: 5px solid var(--color-black);
}
