:root {
  --color-primary-extra-dark: #051700;
  --color-primary-darker: rgb(59, 192, 148);
  --color-primary: hsla(161, 41%, 75%, 1);
  --color-primary-lighter: hsla(161, 41%, 80%, 0.6);
  --color-primary-lightest: rgba(61, 255, 194, 0.918);
  --color-secondary: hsla(7, 82%, 57%, 1);
  --color-secondary-lighter: hsla(7, 82%, 70%, 0.6);

  --color-gray: #d3d3d3;
  --color-gray-lighter: #f8f7f7;

  --color-white: #fff;
  --color-black: #383838;
}
