/* Layout */
.page-item {
  margin: 8rem 0;
  padding: 0;
}
.content-item {
  margin: 2rem 0;
  padding: 0;
}
.text-item {
  margin: 0.7rem 0;
  padding: 0;
}

.constrain--s {
  max-width: var(--constrain-s);
  margin: 0 auto;
}
.constrain {
  max-width: var(--constrain-m);
  margin: 0 auto;
}
.constrain--l {
  max-width: var(--constrain-l);
  margin: 0 auto;
}
