/* Layout */
.page-item {
  margin: 0 0 8rem;
  padding: 0;
}
.section-item {
  margin: 0 0 4rem;
  padding: 0;
}
.content-item {
  margin: 2rem 0;
  padding: 0;
}
.text-item {
  margin: 0.7rem 0;
  padding: 0;
}

.constrain--s {
  max-width: var(--constrain-s);
  margin-left: auto;
  margin-right: auto;
}
.constrain {
  max-width: var(--constrain-m);
  margin-left: auto;
  margin-right: auto;
}
.constrain--l {
  max-width: var(--constrain-l);
  margin-left: auto;
  margin-right: auto;
}
