@font-face {
  font-family: 'Crimson-Text';
  src: url('../fonts/crimsontext-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/crimsontext-bolditalic-webfont.woff') format('woff'),
    url('../fonts/crimsontext-bolditalic-webfont.ttf') format('truetype');
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

@font-face {
  font-family: 'Crimson-Text';
  src: url('../fonts/crimsontext-regularitalic-webfont.woff2') format('woff2'),
    url('../fonts/crimsontext-regularitalic-webfont.woff') format('woff'),
    url('../fonts/crimsontext-regularitalic-webfont.ttf') format('truetype');
  font-weight: var(--font-weight-normal);
  font-style: italic;
}

@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
    url('../fonts/lato-bold-webfont.woff') format('woff'),
    url('../fonts/lato-bold-webfont.ttf') format('truetype');
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato-regular-webfont.woff') format('woff'),
    url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: var(--font-weight-normal);
  font-style: normal;
}

:root {
  --font-family-serif: 'Crimson-Text', serif;
  --font-family-sans-serif: 'Lato', 'Helvetica', 'Arial', sans-serif;

  --font-size-base: 18;
  --vw-min: 320;
  --vw-max: 1300;

  // Minimum Typographic scale
  --heading-6: 16px;
  --heading-5: 22px;
  --heading-4: 31px;
  --heading-3: 45px;
  --heading-2: 63px;
  --heading-1: 90px;
  --heading-0: 8vmin;

  @media (min-width: 950px) {
    // Maximum Typographic scale
    --heading-6: 16px;
    --heading-5: 24px;
    --heading-4: 36px;
    --heading-3: 54px;
    --heading-2: 81px;
    --heading-1: 121px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-serif);
}

.super-h1 {
  font-size: var(--heading-0);
}

h1 {
  font-size: var(--heading-1);
}
h2 {
  font-size: var(--heading-2);
}
h3 {
  font-size: var(--heading-3);
}
h4 {
  font-size: var(--heading-4);
}
h5 {
  font-size: var(--heading-5);
}
h6 {
  font-size: var(--heading-6);
}
p {
  font-size: var(--font-size-base);
  line-height: var(--scale);
  max-width: var(--constrain-l);
  text-align: justify;
  margin: 0 auto;
}
