:root {
  --font-family-serif: 'Ideal Sans';
  --font-family-sans-serif: 'Helvetica';

  --font-size-xxl: 46px;
  --font-size-xl: 32px;
  --font-size-l: 26px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 12px;
  --base-font-size: var(--font-size-m);

  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-weight-bolder: bolder;
}

@mixin header-xxl {
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-serif);
  font-weight: bold;
  font-style: italic;
}

@mixin header-xl {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-serif);
  font-weight: bold;
  font-style: italic;
}

@mixin header-l {
  font-size: var(--font-size-l);
  font-family: var(--font-family-serif);
  font-weight: bold;
  font-style: italic;
}

@mixin header-m {
  font-size: var(--font-size-m);
  font-family: var(--font-family-serif);
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: var(--font-family-sans-serif), sans-serif;
  line-height: 1.5;
}

h1,
.h1 {
  @include header-xxl;
}
h2,
.h2 {
  @include header-xl;
}
h3,
.h3 {
  @include header-l;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  @include header-m;
}

.section-title {
  padding: 0 var(--spacing-m);
}
