<div class="more-complex-layout">
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
  <div class="more-complex-layout__item"></div>
</div>
