<div class="dont-influence-the-layout">
  <div class="dont-influence-the-layout__item"></div>
  <div class="dont-influence-the-layout__influence"></div>
  <div class="dont-influence-the-layout__item"></div>
</div>
