<div class="dont-influence-the-layout" data-module="layout-article/dont-influence-the-layout/DontInfluenceTheLayout" data-trigger="[data-element='trigger']" data-target="[data-element='target']">
  <div class="dont-influence-the-layout__controls">
    <button class="dont-influence-the-layout__control" data-element="trigger">Toggle layout influence</button>
  </div>

  <div>
    <div class="dont-influence-the-layout__item"></div>
    <div class="dont-influence-the-layout__influence" data-element="target"></div>
    <div class="dont-influence-the-layout__item" data-element="target"></div>
  </div>
</div>
