<style>
  @import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
</style>

<section class="page-item constrain--s">
  <h1>Lazy Daze try out</h1>
  <p>I saw the Lazy Daze branging and liked it a lot. I think there are a lot of nice elements to use on the web. This is a try-out to use those elements</p>
</section>

<div class="lazy-daze">
  <p class="lazy-daze__special-tag">
    <span>special</span>
    <span>releases!</span>
  </p>

  <p class="lazy-daze__slogan">
    <span>Ice</span>
    <span>cold</span>
    <span>craft</span>
    <span>beer</span>
  </p>

  <div class="lazy-daze__type">
    <div>
      <p>lunch event</p>

      <p class="lazy-daze__type-inner">
        <span>Lazy</span>
        <span>Daze</span>
        <span>Neipa</span>
      </p>
    </div>
  </div>
