{% extends './default.njk' %}

{% block body %}
  {%- component 'header', header -%}

  <main class="page-item">
    {%- component 'playground/art-direction-layout-3' -%}
  </main>

  <div class="content-item">
    {%- component 'footer' -%}
  </div>
{% endblock %}
