<div class="more-fluid-layout">
  <div class="more-fluid-layout__outer"></div>
  <div class="more-fluid-layout__inner">This is a very long sentence that will be fluid inside it's container</div>
</div>
