<div class="art-direction-layout-3">
  <section class="page-item constrain--s">
    <h1>The idea</h1>
    <p>Use the same HTML to create multiple layouts. This idea comes from the articles of Andy Clarke on Smashing Magazine about
      <a href="https://www.smashingmagazine.com/author/andy-clarke/">Inspired Design Decisions</a>
    </p>
  </section>

  <h2>Approach 1</h2>
  <article class="approach-1">
    {%- component 'playground/art-direction-layout-3/article' -%}
  </article>

  <h2>Approach 2</h2>
  <article class="approach-2">
    {%- component 'playground/art-direction-layout-3/article' -%}
  </article>

  <h2>Approach 3</h2>
  <article class="approach-3">
    {%- component 'playground/art-direction-layout-3/article' -%}
  </article>
</div>
