<section class="page-item constrain--s">
  <h2>The original inspiration</h2>

  <figure>
    <img src="/static/img/playground/text-with-centered-item.png" alt="Image of a magazine text with an quote in the middle of the two columns">
    <figcaption>Multiple columns of text containing a element at the center that is wider than a single column</figcaption>
  </figure>

  <p>The goal is to center a element between multiple text columns. They should be responsive afcourse and the elementin the center can be an image, quote, title etc.</p>

</section>

<section class="page-item constrain--s">
  <h2>The responsive web implementation</h2>
</section>

<div class="art-direction-layout-3__wrapper">

  <article class="constrain">
    <div class="art-direction-layout-3__img-placeholder">
      <span>image placeholder</span>
    </div>

    <div class="art-direction-layout-3__parag-wrapper">
      <div class="art-direction-layout-3__left">
        <p class="art-direction-layout-3__parag">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lectus imperdiet nibh maximus maximus. Nullam luctus lorem mauris, sed rutrum leo rhoncus vitae. Nunc tempus nec libero in fringilla. Phasellus vitae erat sed purus sollicitudin accumsan vitae ac augue. Aliquam porta molestie tortor, ut egestas diam. Praesent a mi sit amet tortor feugiat auctor vel nec sapien. Sed eu purus nec neque imperdiet molestie. Curabitur varius fringilla eros eget dignissim. Proin vestibulum ultrices ex non consequat. Nunc velit lorem, molestie id est in, dapibus venenatis nunc.</p>
        <p class="art-direction-layout-3__parag">2. Quisque auctor felis et cursus auctor. Mauris sed faucibus ante. Fusce lacinia vel enim ac posuere. Aenean convallis mauris metus, a lacinia odio lobortis non. Nunc lobortis nec metus id lobortis. Nunc vel congue nunc, in consectetur nisi. Nullam quis eros velit. Nam interdum elit ligula, efficitur finibus odio ultricies quis. Sed tempus gravida mollis. Integer euismod scelerisque dictum.</p>
        <p class="art-direction-layout-3__parag">3. Ut lacinia a lorem at tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisi sem, cursus eget ornare eget, scelerisque non orci. Maecenas vel tristique purus. Ut sit amet est nibh. Etiam vehicula, eros in aliquam vulputate, elit velit tempor ligula, vitae molestie felis mi et odio. Maecenas sit amet cursus dolor. Phasellus tincidunt enim erat, ut convallis risus venenatis eget. Aliquam vitae libero a elit feugiat tincidunt.</p>
        <p class="art-direction-layout-3__parag">4. Fusce semper et augue et pharetra. Quisque fermentum ex massa, vitae lobortis sapien posuere sit amet. Etiam egestas placerat dolor vitae tincidunt. Nulla maximus tellus porta, tincidunt dui finibus, dignissim mauris. Proin eu rhoncus dolor, sed tristique nisl. Nullam a arcu in purus commodo placerat. Nunc pharetra sit amet ex non volutpat. Vestibulum maximus orci id velit aliquam, vel varius ligula ultricies. Nulla molestie faucibus odio id semper. Quisque a orci quis enim lobortis bibendum. Aliquam cursus augue id turpis aliquam, eu commodo ex lacinia.</p>
        <p class="art-direction-layout-3__parag">5. Etiam molestie tempus magna, vitae blandit lacus finibus ut. Phasellus pharetra, est nec fringilla congue, nisi quam elementum nibh, vitae placerat quam lorem id mi. Sed felis mi, vulputate ac porttitor quis, imperdiet quis enim. Morbi pretium egestas odio vel imperdiet. Phasellus imperdiet sagittis lacus, eleifend feugiat ipsum iaculis et. Suspendisse molestie bibendum metus ac consequat. Nam eu ultrices mi. Fusce ac elit ligula. Suspendisse tempor euismod lectus, vitae volutpat felis suscipit ac. Quisque ut volutpat leo, ac porttitor erat. Mauris euismod erat vestibulum ullamcorper commodo. Praesent euismod dictum massa, ut aliquet tortor pharetra vel. Phasellus sit amet finibus nibh.</p>
      </div>
      <div class="art-direction-layout-3__right">
        <p class="art-direction-layout-3__parag">6. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lectus imperdiet nibh maximus maximus. Nullam luctus lorem mauris, sed rutrum leo rhoncus vitae. Nunc tempus nec libero in fringilla. Phasellus vitae erat sed purus sollicitudin accumsan vitae ac augue. Aliquam porta molestie tortor, ut egestas diam. Praesent a mi sit amet tortor feugiat auctor vel nec sapien. Sed eu purus nec neque imperdiet molestie. Curabitur varius fringilla eros eget dignissim. Proin vestibulum ultrices ex non consequat. Nunc velit lorem, molestie id est in, dapibus venenatis nunc.</p>
        <p class="art-direction-layout-3__parag">7. Quisque auctor felis et cursus auctor. Mauris sed faucibus ante. Fusce lacinia vel enim ac posuere. Aenean convallis mauris metus, a lacinia odio lobortis non. Nunc lobortis nec metus id lobortis. Nunc vel congue nunc, in consectetur nisi. Nullam quis eros velit. Nam interdum elit ligula, efficitur finibus odio ultricies quis. Sed tempus gravida mollis. Integer euismod scelerisque dictum.</p>
        <p class="art-direction-layout-3__parag">8. Ut lacinia a lorem at tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisi sem, cursus eget ornare eget, scelerisque non orci. Maecenas vel tristique purus. Ut sit amet est nibh. Etiam vehicula, eros in aliquam vulputate, elit velit tempor ligula, vitae molestie felis mi et odio. Maecenas sit amet cursus dolor. Phasellus tincidunt enim erat, ut convallis risus venenatis eget. Aliquam vitae libero a elit feugiat tincidunt.</p>
        <p class="art-direction-layout-3__parag">9. Fusce semper et augue et pharetra. Quisque fermentum ex massa, vitae lobortis sapien posuere sit amet. Etiam egestas placerat dolor vitae tincidunt. Nulla maximus tellus porta, tincidunt dui finibus, dignissim mauris. Proin eu rhoncus dolor, sed tristique nisl. Nullam a arcu in purus commodo placerat. Nunc pharetra sit amet ex non volutpat. Vestibulum maximus orci id velit aliquam, vel varius ligula ultricies. Nulla molestie faucibus odio id semper. Quisque a orci quis enim lobortis bibendum. Aliquam cursus augue id turpis aliquam, eu commodo ex lacinia.</p>
        <p class="art-direction-layout-3__parag">10. Etiam molestie tempus magna, vitae blandit lacus finibus ut. Phasellus pharetra, est nec fringilla congue, nisi quam elementum nibh, vitae placerat quam lorem id mi. Sed felis mi, vulputate ac porttitor quis, imperdiet quis enim. Morbi pretium egestas odio vel imperdiet. Phasellus imperdiet sagittis lacus, eleifend feugiat ipsum iaculis et. Suspendisse molestie bibendum metus ac consequat. Nam eu ultrices mi. Fusce ac elit ligula. Suspendisse tempor euismod lectus, vitae volutpat felis suscipit ac. Quisque ut volutpat leo, ac porttitor erat. Mauris euismod erat vestibulum ullamcorper commodo. Praesent euismod dictum massa, ut aliquet tortor pharetra vel. Phasellus sit amet finibus nibh.</p>
      </div>
      <aside class="art-direction-layout-3__aside">
        <blockquote class="art-direction-layout-3__quote">Hello I'm in the center and wider than a single column!</blockquote>
      </aside>
    </div>

  </article>
</div>
