{% extends './default.njk' %}

{% block body %}
  {%- component 'header', header -%}

  <main>HELLOOOOOOOOO</main>

  {{ body | safe }}

  <div class="content-item">
    {%- component 'footer' -%}
  </div>
{% endblock %}
