{% extends './default.njk' %}

{% block body %}
  {%- component 'header', header -%}

  <main class="page-item">
    <div class="page-item">
      <section class="constrain--s">
        <h2 class="section-title">Articles</h2>
        {%- component 'articles-list', '../../data/articles.json' -%}
      </section>
    </div>

    <div class="page-item">
      <section class="constrain--s page-item">
        <h2 class="section-title">Blogs</h2>
        <p>Coming soon</p>
        {%- component 'articles-list', '../../data/blogs.json' -%}
      </section>
    </div>

  </main>

  <div class="content-item">
    {%- component 'footer' -%}
  </div>
{% endblock %}
