{% extends './default.njk' %}

{% block body %}
  {%- component 'header', header -%}
  <div class="detail">
    <main class="page-item">
      <div class="constrain--s">
        <h2 class="section-title">My Playground</h2>
        {%- component 'articles-list', '../../data/playground.json' -%}
      </div>
    </main>

    <div class="content-item">
      {%- component 'footer' -%}
    </div>
  </div>
{% endblock %}
