{% extends './default.njk' %}

{% block body %}
  {%- component 'header', header -%}
  <div class="detail">
    <main class="content-item">
      {%- component 'coming-soon' -%}
    </main>

    <div class="content-item">
      {%- component 'footer' -%}
    </div>
  </div>
{% endblock %}
