<div class="motion-at-transavia">
  <section class="page-item motion-at-transavia__section">
    <h2>Default easings</h2>

    <div class="motion-at-transavia__motion-block" data-ease="in">Ease in</div>
    <div class="motion-at-transavia__motion-block" data-ease="out">Ease out</div>
    <div class="motion-at-transavia__motion-block" data-ease="in-out">Ease in out</div>
  </section>

  <section class="page-item motion-at-transavia__section">
    <h2>Bounce easings</h2>

    <div class="motion-at-transavia__motion-block" data-ease="bounce-in">Ease in</div>
    <div class="motion-at-transavia__motion-block" data-ease="bounce-out">Ease out</div>
    <div class="motion-at-transavia__motion-block" data-ease="bounce-in-out">Ease in out</div>
  </section>
</div>
