:root {
  --article-constraint: 35rem; // Move this to layout CSS file
}

.article {
  position: relative;

  &__main {
    opacity: 0;
    animation: fade-in var(--pace-normal) var(--delay-default)
        var(--ease-in-out) forwards,
      move-from-below var(--pace-normal) var(--delay-default) var(--ease-in-out)
        both;

    > h1:first-of-type {
      font-size: 9vmax;
    }

    @include breakpoint($breakpoint-m) {
      > p:first-of-type {
        transform: translateX(6vw);
        margin-bottom: var(--spacing-xxxxl);
      }
      > h1:first-of-type {
        transform: translateX(-6vw);
      }
    }
    @include breakpoint($breakpoint-l) {
      > p:first-of-type {
        transform: translateX(calc((80vw - var(--article-constraint)) / 2));
      }
      > h1:first-of-type {
        transform: translateX(
          calc(((80vw - var(--article-constraint)) / 2) * -1)
        );
      }
    }
  }

  &__aside {
    position: absolute;
    top: -12rem;
    bottom: -12rem;
    left: 0;
    width: 1.7rem;

    background-color: var(--color-primary-lighter);

    opacity: 0;
    animation: fade-in var(--pace-slow) var(--ease-in-out) forwards,
      create-from-top var(--pace-slower) var(--ease-in-out) forwards;

    @include breakpoint($breakpoint-l) {
      z-index: -1;
      width: 9rem;
      left: 10vw;
    }
  }

  // Generic article tags
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  img,
  figure,
  ol,
  ul,
  .article__main-item {
    max-width: var(--article-constraint);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint($breakpoint-s) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include breakpoint($breakpoint-m) {
      max-width: 48rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  pre {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0;
  }

  img {
    display: block;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: var(--spacing-xxxxl);

    &:before {
      position: absolute;
      transform: translateX(-100%);
      display: inline-block;

      color: var(--color-gray);
      font-size: var(--body-m);
      letter-spacing: 0.1rem;
    }
  }

  h2:before {
    content: '##';
  }
  h3:before {
    content: '###';
  }
  h4:before {
    content: '####';
  }
  h5:before {
    content: '#####';
  }
  h6:before {
    content: '######';
  }

  p,
  li {
    font-size: 1.2rem;
    line-height: 1.9;

    @include breakpoint($breakpoint-m) {
      font-size: 1.4rem;
    }
  }

  code {
    width: 100%;
    display: inline-block;
    margin-left: calc(var(--spacing-s) * -1);
    margin-right: calc(var(--spacing-s) * -1);
    border: none;
  }
  code:not([class*='language-']) {
    width: auto;
    color: var(--color-secondary);
    padding: 0 0.5rem;
  }

  a {
    color: var(--color-primary);

    &:hover,
    &:focus {
      color: var(--color-primary-darker);
    }
  }
}
