<article class="article">
  <div class="article__aside"></div>

  <div class="article__main">
    <div class="article__header">
      <header class="article__header-item">
        <h1>{{ title }}</h1>
      </header>

      <p class="article__header-item">
        GitHub gives you the possibility to create an infinite amount of branches, but why should you use to do that? After a talk I had at GitHub Amsterdam, this became clear to me and I would like to share it with you because it improved my working process.
      </p>
    </div>

    {{ article | safe }}
    {{ article | safe }}
    {{ article | safe }}
    {{ article | safe }}
    {{ article | safe }}
  </div>
</article>
