.article {
  position: relative;

  &__main {
    opacity: 0;
    animation: fade-in var(--pace-normal) var(--delay-long) var(--ease-in-out)
        forwards,
      move-from-below var(--pace-normal) var(--delay-long) var(--ease-in-out)
        both;

    @include breakpoint($breakpoint-m) {
      > p:first-of-type {
        transform: translateX(10vw);
      }
    }
  }

  &__aside {
    position: absolute;
    top: -12rem;
    bottom: -12rem;
    left: 0;
    width: 1.7rem;

    background-color: var(--color-primary-lighter);

    opacity: 0;
    animation: fade-in var(--pace-slow) var(--delay-default) var(--ease-in-out)
        forwards,
      create-from-top var(--pace-slower) var(--delay-default) var(--ease-in-out)
        forwards;

    @include breakpoint($breakpoint-l) {
      z-index: -1;
      width: 9rem;
      left: 10vw;
    }
  }

  // Generic article tags
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  code,
  img,
  figure,
  ol,
  ul,
  .article__main-item {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint($breakpoint-s) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include breakpoint($breakpoint-m) {
      max-width: 48rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  img {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  h1 {
    margin: 0;
    font-size: 8vw;
    letter-spacing: var(--letter-spacing-xl);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--spacing-xxxxl);
  }

  p,
  li {
    font-size: 1.2rem;
    line-height: 2.1;

    @include breakpoint($breakpoint-m) {
      font-size: 1.4rem;
    }
  }

  code {
    display: inline-block;
    margin: 0;
    padding: 0 var(--spacing-s);

    color: var(--color-secondary);
    background-color: var(--color-gray-lighter);
    border-radius: 5px;
  }
}
