<article class="article">
  <div class="article__aside"></div>

  <div class="article__main">
    <div class="article__header">
      <header class="article__header-item">
        <h1>{{ title | safe }}</h1>
        <p>{{ subTitle | safe }}</p>
      </header>

      <p class="article__header-item">
        {{ intro | safe }}
      </p>
    </div>

    {%- set componentPathWithPrefix = "articles/" + bodyComponentName  -%}
    {%- component componentPathWithPrefix -%}

  </div>
</article>
