<div class="constraints-of-a-layout">
  <span class="constraints-of-a-layout__item">1</span>
  <span class="constraints-of-a-layout__item">2</span>
  <span class="constraints-of-a-layout__item">3</span>
  <span class="constraints-of-a-layout__item">4</span>
  <span class="constraints-of-a-layout__item">5</span>
  <span class="constraints-of-a-layout__item">6</span>
  <span class="constraints-of-a-layout__item">7</span>
  <span class="constraints-of-a-layout__item">8</span>
  <span class="constraints-of-a-layout__item">9</span>
  <span class="constraints-of-a-layout__item">10</span>
  <span class="constraints-of-a-layout__item">11</span>
  <span class="constraints-of-a-layout__item">12</span>
  <span class="constraints-of-a-layout__item constraints-of-a-layout__item--4">4</span>
  <span class="constraints-of-a-layout__item constraints-of-a-layout__item--8">8</span>
  <span class="constraints-of-a-layout__item">1</span>
  <span class="constraints-of-a-layout__item">2</span>
  <span class="constraints-of-a-layout__item">3</span>
  <span class="constraints-of-a-layout__item">4</span>
  <span class="constraints-of-a-layout__item">5</span>
  <span class="constraints-of-a-layout__item">6</span>
  <span class="constraints-of-a-layout__item">7</span>
  <span class="constraints-of-a-layout__item">8</span>
  <span class="constraints-of-a-layout__item">9</span>
  <span class="constraints-of-a-layout__item">10</span>
  <span class="constraints-of-a-layout__item">11</span>
  <span class="constraints-of-a-layout__item">12</span>
</div>
