<div class="distance-between-elements" data-module="layout-article/distance-between-elements/DistanceBetweenElements" data-triggers="[data-element='control']" data-target="[data-element='target']">
  <div class="distance-between-elements__controls">
    <button type="button" class="distance-between-elements__control" data-element="control" data-value="small" data-active="true">Small distance</button>
    <button type="button" class="distance-between-elements__control" data-element="control" data-value="medium">Medium distance</button>
    <button type="button" class="distance-between-elements__control" data-element="control" data-value="large">Large distance</button>
  </div>

  <div class="distance-between-elements__container">
    <div class="distance-between-elements__item"></div>
    <div class="distance-between-elements__distance" data-element="target" data-type="small"></div>
    <div class="distance-between-elements__item"></div>
  </div>
</div>
