<div class="page-item">
  <div class="constrain--s">
    <h2>Use a image to create a image in the text with only whitespace</h2>
  </div>
</div>

<div class="page-item">
  <div class="constrain--s">
    <h2></h2>
  </div>
</div>
