<section class="page-item constrain--s">
  <h2>The original inspiration</h2>

  <figure>
    <img src="/static/img/playground/text-img-example.jpg" alt="Image of a magazine containing a stone and some unreadable text">
    <figcaption>Sorry for the poor image quality, but focus on the concept</figcaption>
  </figure>

</section>

<section class="page-item constrain--s">
  <h2>The responsive web implementation</h2>
</section>

<div class="art-direction-layout-2__wrapper">
  <figure class="art-direction-layout-2__figure">
    <div class="art-direction-layout-2__img-wrapper">
      <img class="art-direction-layout-2__img" src="/static/img/playground/image-art-direction-layout-2.jpg" alt="Black and white image of a stone">
      <div class="art-direction-layout-2__pane-white"></div>
    </div>

    <figcaption class="art-direction-layout-2__figcaption">
      <h2 class="art-direction-layout-2__title">18</h2>
      <p class="art-direction-layout-2__text">
        A red stone, placed on a grey laptop and overlaid with a grey filter. All to mimic the image above but don't copy it. The store is found at the beach after a hard storm. The red color is incredible, a pity that you don't see it. Af course this text is also just here to mimic the text above. The contents doesn't have any value at all! As long as the image above becomes a responsive version to show you the possibilities on the web.
      </p>
    </figcaption>
  </figure>

  <div class="art-direction-layout-2__colored-box"></div>
  <div class="art-direction-layout-2__pane-pink"></div>
</div>
