<section class="article-prev" data-module="article-prev/ArticlePrev" data-root-element="main" data-trigger-element="[data-element='trigger']" data-transition-element="[data-element='transition']">

  <a class="article-prev__link" href="{{ href }}" data-element='trigger'></a>

  <h2 class="article-prev__title" data-element='transition'>{{ title }}</h2>

  <aside class="article-prev__meta">
    {% if readingTime %}
      <small class="article-prev__reading-time">{{ readingTime }}
        min
      </small>
    {% endif %}

    <time class="article-prev__pub-date">{{ date }}</time>
  </aside>
</section>
