.article-prev {
  @include fat-border;
  position: relative;
  padding: var(--spacing-m);

  &__title {
    @include header-xxl;
    margin: 0 0 var(--spacing-s);

    &:before {
      @include colored-square {
        bottom: 0;
        left: var(--spacing-xs);
        transform: translate(0, var(--spacing-xxl)) scale(0.1);
      }
    }
  }
  &__intro {
    margin: 0;
  }
  &__pub-date {
    display: block;
    width: 100%;
    text-align: right;
  }
  &__reading-time {
    position: absolute;
    top: 0;
    right: var(--spacing-m);
  }

  &__link {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    .article-prev__title {
      cursor: pointer;

      &:before {
        transform: translate(-0.1rem, -0.3rem) scale(1.05) rotate(-2deg);
      }
    }
  }
}
