.article-prev {
  @include fat-border-bottom;
  position: relative;
  padding: 0 var(--spacing-s) 0 0;

  @supports (display: grid) {
    display: grid;

    @include breakpoint($breakpoint-m) {
      grid-template-columns: auto 1fr;
    }
  }

  @include breakpoint($breakpoint-m) {
    padding: 0;
  }

  &__title {
    margin: 0;
    padding: var(--spacing-m);

    font-size: var(--heading-3);
    letter-spacing: var(--letter-spacing-m);
    cursor: pointer;

    &:before {
      @include colored-square {
        bottom: 0;
        left: var(--spacing-xs);
        transform: translate(0, var(--spacing-xxl)) scale(0.1);
      }
    }

    @include breakpoint($breakpoint-m) {
      padding: var(--spacing-xxl) var(--spacing-m);
    }
  }
  &__intro {
    margin: 0;
  }

  &__link {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    .article-prev__title:before {
      transform: translate(-0.1rem, -0.3rem) scale(1.05) rotate(-2deg);
    }
  }

  &__meta {
    display: inline-flex;
    flex-direction: column;
    padding: var(--spacing-s) 0 var(--spacing-s) var(--spacing-s);
    border-left: 3px solid var(--color-primary);

    @supports (display: grid) {
      display: grid;
      gap: var(--spacing-xs);
      justify-self: end;
      align-self: end;
    }
  }

  &__pub-date {
    white-space: nowrap;
  }

  &[data-animate] .article-prev__title:before {
    // Set highest z-index to just show a colored square on the window
    z-index: 999;

    // Scale absurd amounts and translate to the whole width and hight of the page to cover all without using position absolute
    transform: translate(-100vw, -100vh) scale(30) rotate(-2deg) !important;
    background-color: var(--color-primary);

    transition: var(--pace-normal) var(--ease-in) transform,
      var(--pace-normal) var(--ease-in) background-color;
  }
}

@keyframes foo {
  from {
    background-color: var(--color-primary);
  }
  to {
    background-color: var(--color-white);
  }
}

.foo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
}
.foo-animation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-white);

  animation: foo var(--pace-normal) var(--ease-out);
}
