<section class="article-prev">
  <a class="article-prev__link" href="{{ href }}"></a>

  <h2 class="article-prev__title">{{ title }}</h2>

  <aside class="article-prev__meta">
    {% if readingTime %}
      <small class="article-prev__reading-time">{{ readingTime }}
        min
      </small>
    {% endif %}

    <time class="article-prev__pub-date">{{ date }}</time>
  </aside>
</section>
