.footer {
  display: flex;
  justify-content: center;
  align-self: center;

  &__link {
    color: var(--color-black);

    transition: var(--pace-fast) var(--ease-in-out) color;

    &:hover,
    &:focus {
      color: var(--color-primary);
    }
  }
}
