<div class="article-header">
  <header class="article-header__item">
    <h1>{{ title | safe }}</h1>
    <p>{{ subTitle | safe }}</p>
  </header>

  <p class="article-header__item">
    {{ intro | safe }}
  </p>
</div>
