<h1 class="art-direction-layout-3__title">The perfect loaf</h1>

<blockquote class="art-direction-layout-3__quote">A perfect load contains a lot of air, is light and has a cruncy crust.</blockquote>

<figure class="art-direction-layout-3__figure">
  <img src="/static/img/playground/bread-inside.jpg" alt="A image of a bread cut in half that displays the inside">
  <figcaption>This amount of air is exactly what you want</figcaption>
</figure>

<section class="art-direction-layout-3__ingredients">
  <h2>Ingredients</h2>
  <ul>
    <li>15 gram starter</li>
    <li>500 gram flour</li>
    <li>340 gram water</li>
    <li>8 gram salt</li>
  </ul>
</section>

<section class="art-direction-layout-3__process">
  <h2>process</h2>

  <h3>Kneed</h3>
  <p>Kneed all ingredients until the window-pane effect is reached in the dough</p>

  <h3>First rise</h3>
  <p>Let the dough rise for about 4 hours on room temperature. The dough is ready when the shape of your finger stays in the dough.</p>

  <h3>Flatten</h3>
  <p>Push the dough back, but don't kneed it again</p>

  <h3>Shape</h3>
  <p>Shape the dough either long or round</p>

  <h3>Second rise</h3>
  <p>Let the dough rise for about 3 hours on room temperature. If you push it, it should slowly come back.</p>

  <h3>Bake</h3>
  <p>Bake the bread for 30 min on 230 deg. Check by knocking on the back of the bread.</p>
</section>
