<div class="flow-in-layout" data-module="layout-article/flow-in-layout/FlowInLayout" data-triggers="[data-element='control']" data-target="[data-element='target']">
  <div class="flow-in-layout__controls">
    <button type="button" class="flow-in-layout__control" data-element="control" data-value="left" data-active="true">Left aligned</button>
    <button type="button" class="flow-in-layout__control" data-element="control" data-value="center">Center aligned</button>
    <button type="button" class="flow-in-layout__control" data-element="control" data-value="right">Right aligned</button>
  </div>

  <div class="flow-in-layout__container" data-element="target" data-type="left">
    <span class="flow-in-layout__item"></span>
    <span class="flow-in-layout__item"></span>
    <span class="flow-in-layout__item"></span>
    <span class="flow-in-layout__item"></span>
  </div>
</div>
