<article class="page-item constrain--s">
  <header class="section-item">
    <h1>The Vertigo animation</h1>
    <p>Hitchcock used it in a lot of his movies. It creates depth and urgency. The effect is created by moving the camera closer to the object while zooming out. The same effect can be created with CSS.</p>
  </header>

  <section class="section-item">
    <h2>Example</h2>

    <div class="vertigo"></div>
  </section>
</article>
