.nav {
  &__list {
    margin: 0;
    padding: 0 var(--spacing-m);
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__link {
    position: relative;
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: var(--font-size-l);

    &:before {
      @include colored-square {
        bottom: 0;
        right: 0;
        transform: translate(80%, var(--spacing-xxl)) scale(0.1);
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;

      &:before {
        transform: translate(-0.1rem, -0.3rem) scale(1.05) rotate(-2deg);
      }
    }

    &--active {
      &:before {
        transform: translate(-0.1rem, -0.3rem) scale(1.05) rotate(-2deg);
      }
    }
  }
}
