<nav class="nav">
  <ol class="nav__list">
    {%- set articlesClasses = {
        'nav__link': true,
        'nav__link--active': articlesActive === true
      } | classes -%}

    {%- set playgroundClasses = {
        'nav__link': true,
        'nav__link--active': playgroundActive === true
      } | classes -%}

    <li class="nav__item">
      <a class="{{ articlesClasses }}" href="{{ articlesHref }}">{{ articlesLabel }}</a>
    </li>

    <li class="nav__item">
      <a class="{{ playgroundClasses }}" href="{{ playgroundHref }}">{{ playgroundLabel }}</a>
    </li>
  </ol>
</nav>
